<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BodhiBot Login</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
  </head>

  <body>

  <div class="login-container">
    
    <form class="login-box">
        <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="BodhiBot-logo">
      <h1>BodhiBot</h1>

      <h2>Login</h2>

      <input
        type="email"
        placeholder="Enter Email"
        required
      />

      <input
        type="password"
        placeholder="Enter Password"
        required
      />

      <button type="submit">
        Login
      </button>

      <p>
        Don't have an account?
        <a href="#">Register</a>
      </p>

    </form>

  </div>

</body>
</html>
